<a href="https://colab.research.google.com/github/DoctorVinay8097/DV-lab/blob/main/DV_Lab_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **RDBMS Connectivity using Python**

## Connect MySQL with Jupyter using PyMySQL and create the following tables and execute the queries.

### 1. Create a table Movies with columns as film_id, film_title, cinema, show_timings and num_of_tickets

### 2. Insert a single row into the table

### 3. Insert multiple rows into the table

### 4. Fetch the entire table

### 5. Update the number of tickets to 0 for 4 and 5 films

### 6. Delete the films with 0 tickets

## **PyMySQL**
**PyMySQL** is a Python library that provides a convenient way to interact with MySQL databases. It is a popular choice for developers who need to work with MySQL databases in Python applications.

Here are some key features and functionalities of PyMySQL:

**Database Connection:** PyMySQL allows you to establish a connection to a MySQL database server using Python. You can specify the host, port, username, password, and database name to connect to.

**Executing SQL Queries:** You can execute SQL queries against the connected database using PyMySQL. This includes executing SELECT statements to retrieve data, INSERT, UPDATE, and DELETE statements to modify data, and other SQL operations.

**Fetching and Manipulating Data:** PyMySQL provides functions to fetch data from query results. You can retrieve data as dictionaries or tuples, making it easy to work with the data in Python.

**Transactions:** You can manage transactions in PyMySQL, allowing you to group multiple SQL statements into a single transaction and control how changes are committed to the database.

In [ ]:
# Install PyMySQL and import it
!pip install PyMySQL
import pymysql

In [ ]:
# Connect it with your local MySQL
dbcon = pymysql.connect(host = 'localhost',
user = 'root',
password = '********',
database = 'new_db')

In [ ]:
# Create the connection cursor
cur = dbcon.cursor()

In [ ]:
# 1. Create the table of Movies
sqlQuery= "CREATE TABLE Movies(film_id int, film_title varchar(10), cinema varchar(10), show_timings char(10), num_of_tickets int)"
cur.execute(sqlQuery)
dbcon.commit()

In [ ]:
# 2. Insert the first row
mySql_insert_query = "insert into Movies values (1, 'Black Adam', 'PVR', '12:00 PM', 5)"
cur.execute(mySql_insert_query)
dbcon.commit()

In [ ]:
# 3. Insert multiple rows
mySql_insert_query = """insert into Movies (film_id, film_title, cinema, show_timings, num_of_tickets) values
(%s, %s, %s, %s, %s)"""

records_to_insert = [(2, 'Black', 'Prasads', '3:00 PM', 5),
                    (3, 'Kantara', 'PVR', '6:00 PM', 5),
                    (4, 'God Father', 'PVR', '3:00 PM', 5),
                    (5, 'Urvasiv', 'Prasads', '12:00 PM', 5)]
cur.executemany(mySql_insert_query, records_to_insert)
dbcon.commit()

In [ ]:
# 4. Fetch the entire table
sql_select_Query = "select * from Movies
cur.execute(sql_update_query)
dbcon.commit()"

In [ ]:
# 5. Update the number of tickets to 0 for 4 and 5 films
sql_update_query = """Update Movies set num_of_tickets = 0 where film_id in (4, 5) """
cur.execute(sql_update_query)
dbcon.commit()

In [ ]:
# 6. Delete the films with 0 tickets
sql_Delete_query = """Delete from Movies where num_of_tickets = 0"""
cur.execute(sql_Delete_query)
dbcon.commit()